<div id="orders-page" data-role="view" data-title="getTitle()" data-layout="main-nav" data-model="app.orders" data-show="app.orders.onShow"
    data-after-show="app.orders.afterShow" data-use-native-scrolling="true">
    <div id="ordersModel">

        <div>
            <div class="row">
                <div class="col s12" style="padding-bottom: 10px;">
                    <ul class="tabs">
                        <li class="tab col s3">
                            <a href="#allOrders">All Orders</a>
                        </li>
                        <li class="tab col s3">
                                <a href="#pendingOrders">Pending</a>
                            </li>
                        <li class="tab col s3">
                            <a href="#confirmedOrders">Confirmed</a>
                        </li>
                        <li class="tab col s3">
                            <a href="#processOrders">Processing</a>
                        </li>
                        <li class="tab col s3">
                            <a href="#deliveredOrders">Delivered</a>
                        </li>
                    </ul>
                </div>
                <div id="allOrders" class="col s12">
                    <div class="view-cart-inner" style="padding-bottom: 0px">
                        <div id="allOrders-items-row">


                        </div>
                    </div>
                </div>
                <div id="pendingOrders" class="col s12">
                    <div class="view-cart-inner" style="padding-bottom: 0px">
                        <div id="pendingOrders-items-row">


                        </div>
                    </div>
                </div>
                <div id="confirmedOrders" class="col s12">
                        <div class="view-cart-inner" style="padding-bottom: 0px">
                            <div id="confirmedOrders-items-row">
    
    
                            </div>
                        </div>
                    </div>
                <div id="processOrders" class="col s12">
                    <div class="view-cart-inner" style="padding-bottom: 0px">
                        <div id="processOrders-items-row">


                        </div>
                    </div>
                </div>
                <div id="deliveredOrders" class="col s12">
                    <div class="view-cart-inner" style="padding-bottom: 0px">
                        <div id="deliveredOrders-items-row">


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>